body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --black: #12213A;
    --gray: #5B6B85;
    --green: #1F9D6B;
    --red: #E0503B;
}